.parent{
    background-image: linear-gradient(to bottom, rgb(218, 59, 59) ,rgb(218, 142, 142));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    color: #fff;
    font-family: "Oxygen", sans-serif;
}