.parent{
    background-image: linear-gradient(to bottom, rgb(218, 59, 59) ,rgb(218, 142, 142));
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    width: 100vw;
    color: #fff;
    font-family: "Oxygen", sans-serif;
}

.title{
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid pink; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
    typing 2.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

.divCloud{
    background-color: #fff;
    height: 150px;
    width: 375px;
    border-radius: 50%;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 35% }
  }

  /* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: pink; }
  }



  @media only screen and (max-width: 320px) {
    .parent{
        background-image: linear-gradient(to bottom, rgb(218, 59, 59) ,rgb(218, 142, 142));
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 40vh;
        width: 60vw;
        color: #fff;
        font-family: "Oxygen", sans-serif;
    }
  }